strong,
b {
    font-weight: bold;
}
input:focus,
button:focus {
    outline: 0 !important;
}
/* Game */

input[type="button"] {
    cursor: pointer;
}
#backbround {
    background: #537195;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#gamecontainer {
    width: 1024px;
    height: 768px;
    background: url(/images/splashscreen.png);
    background-size: cover;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -512px;
    margin-top: -384px;
}
.gamelayer {
    width: 1024px;
    height: 768px;
    position: absolute;
    display: none;
}
/* Game Starting Menu Screen */

#gamestartscreen {
    padding-top: 512px;
    text-align: left;
    padding-left: 50px;
    width: 590px;
    height: 160px;
}
#gamestartscreen span {
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 48px;
    cursor: pointer;
    color: white;
    text-shadow: -2px 0 purple, 0 2px purple, 2px 0 purple, 0 -2px purple;
}
#gamestartscreen span:hover {
    color: yellow;
}
/* Loading Screen */

#loadingscreen {
    background: rgba(100, 100, 100, 0.9);
    z-index: 10;
}
#loadingmessage {
    margin-top: 400px;
    text-align: center;
    height: 48px;
    color: white;
    background: url(/images/loader.gif) no-repeat center;
    font: 12px Arial;
}
/* Mission Briefing Screen */

#missionscreen {
    background: url(/images/missionscreen.png);
    background-size: cover;
}
#missionscreen #entermission {
    position: absolute;
    top: 18.5%;
    width: 35%;
    height: 12%;
    border-width: 0px;
    background-image: url(/images/buttons.png);
    background-position: 0% 0%;
    background-size: 204% 1050%;
}
#missionscreen #entermission:disabled,
#missionscreen #entermission:active {
    background-image: url(/images/buttons.png);
    background-position: 99% 0%;
}
#missionscreen #exitmission {
    position: absolute;
    top: 19%;
    left: 62%;
    width: 10.6%;
    height: 10%;
    border-width: 0px;
    background-image: url(/images/buttons.png);
    background-position: 0% 11.1%;
    background-size: 506% 1000%;
    border-radius: 4px;
}
#missionscreen #exitmission:disabled,
#missionscreen #exitmission:active {
    background-image: url(/images/buttons.png);
    background-position: 26% 11.1%;
}
#missionscreen #missonbriefing {
position: absolute;
padding: 10px;
top: 33%;
left: 3%;
width: 66%;
height: 64%;
color: rgb(130, 150, 162);
font-size: 13px;
font-family: 'Courier New', Courier, monospace;
}
#missionscreen #missontitle {
    position: absolute;
    padding: 1%;
    left: 1%;
    width: 72%;
    height: 15%;
    color: rgb(130, 150, 162);
    font-family: 'Courier New', Courier, monospace;
}
/* Game Interface Screen */
.canvas {
    width: 75%;
    height: 84%;
}
#gameinterfacescreen {
    background: url(/images/maininterface.png);
    background-size: cover;
}
#gameinterfacescreen #gamemessages {
position: absolute;
padding: 1%;
top: 1%;
left: 1%;
width: 73%;
height: 14%;
color: rgb(130, 150, 162);
overflow: hidden;
font-size: 22px;
font-family: 'Courier New', Courier, monospace;
}
#gameinterfacescreen #gamemessages span {
    color: white;
}
#gameinterfacescreen #callerpicture {
    position: absolute;
    left: 79%;
    top: 33%;
    height: 17%;
    width: 18%;
    overflow: none;
}
#gameinterfacescreen #cash {
width: 20%;
height: 3%;
position: absolute;
left: 77%;
top: 53.4%;
color: rgb(130, 150, 162);
overflow: hidden;
font-size: 26px;
font-family: 'Courier New', Courier, monospace;
text-align: right;
}
#gameinterfacescreen canvas {
    position: absolute;
    top: 16%;
    left: 0px;
}
#gameinterfacescreen #foregroundcanvas {
    z-index: 1;
}
#gameinterfacescreen #backgroundcanvas {
    z-index: 0;
}
/* Sidebar Buttons */

#gameinterfacescreen #sidebarbuttons {
position: absolute;
left: 78%;
top: 65%;
width: 21%;
height: 20%;
overflow: none;
}
#gameinterfacescreen #sidebarbuttons input[type="button"] {
    width: 43px;
    height: 35px;
    border-width: 0px;
    padding: 0px;
    background-image: url(/images/buttons.png);
}
/* Grayed out state for buttons*/

#starportbutton:active,
#starportbutton:disabled {
    background-position: -2px -305px;
}
#placeholder1:active,
#placeholder1:disabled {
    background-position: -52px -305px;
}
#turretbutton:active,
#turretbutton:disabled {
    background-position: -100px -305px;
}
#scouttankbutton:active,
#scouttankbutton:disabled {
    background-position: -2px -346px;
}
#heavytankbutton:active,
#heavytankbutton:disabled {
    background-position: -52px -346px;
}
#harvesterbutton:active,
#harvesterbutton:disabled {
    background-position: -102px -346px;
}
#chopperbutton:active,
#chopperbutton:disabled {
    background-position: -2px -387px;
}
#placeholder2:active,
#placeholder2:disabled {
    background-position: -52px -387px;
}
#wraithbutton:active,
#wraithbutton:disabled {
    background-position: -102px -387px;
}
/* Regular state for buttons*/

#starportbutton {
    background-position: -167px -305px;
}
#placeholder1 {
    background-position: -216px -305px;
}
#turretbutton {
    background-position: -264px -305px;
}
#scouttankbutton {
    background-position: -167px -346px;
}
#heavytankbutton {
    background-position: -216px -346px;
}
#harvesterbutton {
    background-position: -264px -346px;
}
#chopperbutton {
    background-position: -167px -387px;
}
#placeholder2 {
    background-position: -216px -387px;
}
#wraithbutton {
    background-position: -264px -387px;
}
/* Message Box Screen */

#messageboxscreen {
    background: rgba(0, 0, 0, 0.7);
    z-index: 20;
}
#messagebox {
    position: absolute;
    top: 170px;
    left: 140px;
    width: 296px;
    height: 178px;
    color: white;
    background: url(/images/messagebox.png) no-repeat center;
    color: rgb(130, 150, 162);
    overflow: hidden;
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
}
#messagebox span {
    position: absolute;
    top: 30px;
    left: 50px;
    width: 200px;
    height: 100px;
}
#messagebox input[type="button"] {
    background-image: url(/images/buttons.png);
    position: absolute;
    border-width: 0px;
    padding: 0px;
}
#messageboxok {
    background-position: -2px -150px;
    top: 126px;
    left: 11px;
    width: 74px;
    height: 26px;
}
#messageboxok:active,
#messageboxok:disabled {
    background-position: -2px -186px;
}
#messageboxcancel {
    background-position: -86px -150px;
    left: 197px;
    top: 129px;
    width: 73px;
    height: 24px;
}
#messageboxcancel:active,
#messageboxcancel:disabled {
    background-position: -86px -184px;
}